name: Build and Push Backend Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'example-backend/**'
      - '.github/workflows/backend.yaml'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: example-backend

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./example-backend
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/backend:latest
